<header>
  <div class="header__logo"><a href="https://abz.agency"><img class="logo" src="../../assets/image/logo.png" alt=""></a></div>
  <div class="header__nav">
    <a href="#about">About me</a>
    <a href="#relationships">Relationships</a>
    <a href="#requirements">Requirements</a>
    <a href="#users">Users</a>
    <a href="#signUp">Sign Up</a>
  </div>
  <div class="header__user">
    <div class="header__user-date">
      <p class="header__user-name">Superstar</p>
      <p class="header__user-mail">
        <a href="mailto:Superstar@gmail.com"> Superstar@gmail.com</a>
      </p>
    </div>
    <div>
      <img class="header__user-img" src="../../assets/image/user-superstar-2x.jpg" alt="">
    </div>
  </div>
  <div class="header__out">
    <a href="#">
      <img class="header__out-sign svg" src="../../assets/icons/sign-out.svg" alt="">
      <!--[Style.display]='display-svg' -->
      <img class="header__out-sign png" src="../../assets/icons/Layer 2.png" alt="">
      <!--[Style.display]='display-png'-->
    </a>
  </div>
</header>
<div class="header__tablet">
  <div class="header__logo"><a href="https://abz.agency"><img class="logo" src="../../assets/image/logo.png" alt=""></a></div>
  <div class="header__tablet-menu-button">
    <i class="material-icons">
      dehaze
    </i>
  </div>
</div>
