<footer>
  <div class="background__footer">
    <div class="footer__logo">
      <a href="https://abz.agency">
        <img class="logo" src="./assets/image/logoFooter.png" alt="">
      </a>
    </div>
    <div class="footer__nav">
      <a href="#about">About me</a>
      <a href="#relationships">Relationships</a>
      <a href="#requirements">Requirements</a>
      <a href="#users">Users</a>
      <a href="#signUp">Sign Up</a>
    </div>
  </div>

  <div class="footer__link">

    <div class="footer__email">
      <div class="footer__mail">
        <a href="mailto:work.of.future@gmail.com">
          <img src="../../assets/icons/mail.svg" alt="">work.of.future@gmail.com
        </a>
      </div>
      <div class="footer__phone">
        <a href="tel:+380507892498">
          <img src="../../assets/icons/phone.svg" alt="">+38 (050) 789 24 98
        </a>
      </div>
      <div class="footer__mobile">
        <a href="tel:+380955560845">
          <img src="../../assets/icons/cellphone.svg" alt="">+38 (095) 556 08 45
        </a>
      </div>
    </div>

    <div class="footer__links">
      <a href="#">News</a>
      <a href="#">Blog</a>
      <a href="#">Partners</a>
      <a href="#">Shop</a>
    </div>

    <div class="footer__links">
      <a href="#">Overview</a>
      <a href="#">Design</a>
      <a href="#">Code</a>
      <a href="#">Collaborate</a>
    </div>

    <div class="footer__links">
      <a href="#">Tutorials</a>
      <a href="#">Resources</a>
      <a href="#">Guides</a>
      <a href="#">Examples</a>
    </div>

    <div class="footer__links">
      <a href="#">FAQ</a>
      <a href="#">Terms</a>
      <a href="#">Conditions</a>
      <a href="#">Help</a>
    </div>

  </div>

  <div class="footer__share">
    <div class="footer__design">© abz.agency specially for the test task</div>
    <div class="footer__network">
    <a href="//uk-ua.facebook.com"><img src="../../assets/icons/facebook.svg" alt=""></a>
    <a href="//www.linkedin.com"><img src="../../assets/icons/linkedin.svg" alt=""></a>
    <a href="//www.instagram.com"><img src="../../assets/icons/instagram.svg" alt=""></a>
    <a href="//twitter.com"><img src="../../assets/icons/twitter.svg" alt=""></a>
    <a href="//www.pinterest.com"><img src="../../assets/icons/pinterest.svg" alt=""></a>
  </div>
  </div>

</footer>
