footer {
  background-color: #283593;
  position: relative;
  z-index: 2;
  width: 100%;
  height: 314px;
  color: white;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.background__footer {
  width: 1024px;
  height: 85px;
  border-bottom: 1px solid #5674b9;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}

.footer__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.footer__logo a {
  background-image: url(../../assets/image/logoFooter.png);
  /* background-repeat: no-repeat; */
  width: 134px;
  height: 24px;
  margin-left: 48px;
}

.footer__logo a:hover {
  background-image: url(../../assets/image/logoOr.svg);
  background-size: 134px;
}

.footer__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 824px;
  height: 85px;
}

.footer__nav a {
  margin-right: 29px;
}

/* ----footer__links----------- */
.footer__links,
.footer__email {
  display: flex;
  flex-direction: column;
}

.footer__network,
.footer__link,
.footer__share {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: right;

}

.footer__link {
  margin: 23px 40px 0 0;
}

.footer__email {
  text-align: left;
  margin: 0 10px 0px 48px;
}

.footer__email a {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 400;
   margin-right: 10px;
}

.footer__mail,
.footer__phone,
.footer__mobile {
  margin: 0 10px 19px 0px;
}

.footer__email img {
  margin-right: 10px;
}
#footerMail{
  background-image: url(../../assets/icons/mail.svg);
  background-size: 23px;
  background-position: left bottom;
  background-repeat: no-repeat;
  height: 23px;
  padding-left: 35px;
}
#footerMail:hover{
  background-image: url(../../assets/icons/close-envelopeOr.svg);
}

#footerPhone{
  background-image: url(../../assets/icons/phone.svg);
  background-size: 20px;
  background-position: left center;
  background-repeat: no-repeat;
  height: 23px;
  padding-left: 35px;
}
#footerPhone:hover{
  background-image: url(../../assets/icons/phone-call-buttonOr.svg);
}
#footerMobile{
  background-image: url(../../assets/icons/cellphone.svg);
  background-size: 16px;
  background-position: left center;
  background-repeat: no-repeat;
  height: 28px;
  padding-left: 35px;
}
#footerMobile:hover{
  background-image: url(../../assets/icons/cellphoneOr.svg);
}




/* --footer__network-- */
.footer__share {
  margin: 15px 43px 0 0;
}

.footer__links a {
  margin: 0px 6px 11px 6px;
}

.footer__design {
  font-size: 12px;
  margin-left: 48px;
  margin-top: 10px;
}

.footer__network a {
  margin-left: 20px;
}

#pinterest {
  background-image: url(../../assets/icons/pinterest.svg);
  width: 26px;
  height: 26px;
}

#pinterest:hover {
  background-image: url(../../assets/icons/017-pinterest.svg);
}

#twitter {
  background-image: url(../../assets/icons/twitter.svg);
  width: 26px;
  height: 26px;
}

#twitter:hover {
  background-image: url(../../assets/icons/007-twitter-1.svg);
}

#instagram {
  background-image: url(../../assets/icons/instagram.svg);
  width: 26px;
  height: 26px;
}

#instagram:hover {
  background-image: url(../../assets/icons/020-instagram.svg);
}

#linkedin{
  background-image: url(../../assets/icons/linkedin.svg);
  width: 26px;
  height: 26px;
}
#linkedin:hover{
  background-image: url(../../assets/icons/019-linkedin.svg);
}
#facebook{
  background-image: url(../../assets/icons/facebook.svg);
  width: 26px;
  height: 26px;
}

#facebook:hover{
  background-image: url(../../assets/icons/023-facebook.svg);
}


footer a:hover {
  color: #ef6c00;
}


@media (max-width: 780px) {

  footer,
  .background__footer {
    width: 768px;
  }

  .footer__nav {
    width: 550px;
  }

  .footer__nav a {
    margin-right: 9px;
  }
#footerMail,
#footerPhone,
#footerMobile,
#footerMail:hover,
#footerPhone:hover,
#footerMobile:hover{
  background: none;
  padding-left: 0;
}
}
