* {
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  width: 1024px;
  min-height: 4443px;
  display: flex;
  flex-direction: column;
  
  /* margin: 0 auto; */
  font-family: 'Source Sans Pro', sans-serif;
}

.item-a input {
  background-color: white !important;
}

@media (min-width: 1920px) {
  body {
    /* align-items: center; */
    width: 100%;
  }
}

@media (max-width: 780px) {
  body {
    width: 768px;
  }


}

@media (max-width: 425px) {
  body {
    width: 320px;
  }
}
