.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.background__header {
  width: 1024px;
  height: 65px;
}

.register__h1 {
  font-family: Overpass;
  color: #000000;
  font-size: 42px;
  font-weight: 600;
  text-align: center;
  margin: 42px 0 0 1px;
}

.register__h3 {
  font-family: 'Source Sans Pro';
  color: #010000;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  height: 18px;
  margin: 11px 0 61px 0;
}

form {
  width: 1024px;
}

.register__user {
  display: flex;
  margin-left: 40px;
  justify-content: flex-start;

}

fieldset {
  border-radius: 4px;
  border-width: 1px;
  /* border-color: #b7b7b7; */
  border-style: solid;
  width: 288px;
  height: 58px;
}

fieldset:first-child {
  margin: 0 30px 42px 7px;
}


fieldset:nth-child(2) {
  margin: 0 30px 42px 0px;
}

legend {
  font-family: 'Source Sans Pro';
  /* color: #8d8c8c; */
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin-left: 18px;
}

.item-a {
  border: none;
  background-color: white !important;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
}

fieldset input {
  padding-left: 17px;
  line-height: 30px;
  width: 250px;
  height: 40px;
  outline: none;

}

/* input:invalid  {
  border-color: red;
} */

/* fieldset:valid:not(:placeholder-shown) {
  border-color: green;
} */

.item-d {
  border-radius: 4px;
  border-width: 1px;
  border-color: #b7b7b7;
  border-style: solid;
  width: 448px;
  height: 54px;
  display: flex;
}

.position-photo {
  height: 60px;
}

/* --стилизация caret-select----------- */
select {
  font-size: 16px;
  padding-left: 12px;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  border: none;
  outline: none;
  /* position: relative; */
  width: 436px;
  height: 56px;
  margin: 0 18px 0px 0px;
}
option:checked{
  color: #f8e0d5 !important;
}

.register__select-caret {
  display: flex;
  align-items: center;
  width: 448px;
  overflow: hidden;
  background: url(../../assets/icons/caret.png) no-repeat;
  background-position: 97% 50%;
  width: 448px;
  height: 54px;
  margin: 0 30px 12px 6px;

}

#select-caret {
  z-index: 5;
  width: 200px;
  height: 20px;
  padding-left: 12px;
  text-align: left;
  position: absolute;
  margin: auto 0;
}



/* ---стилизация инпута----------*/

.upload__style {
  align-items: center;
  justify-content: flex-end;
}

.item-d input {
  width: 126px;
  height: 54px;
  letter-spacing: 10em;
  cursor: pointer;
  z-index: 1;
  background: transparent;
  outline: none;
  position: relative;
}

.register__user label {
  width: 350px;
  color: rgb(141, 140, 140);
  font-size: 16px;
  text-align: center;
}

.item-d .button {
  z-index: 5;
  position: absolute;
  cursor: pointer;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  border-width: 2px;
  border-color: rgb(239, 108, 0);
  border-style: solid;
  width: 126px;
  height: 52px;
  font-family: 'Source Sans Pro';
  color: #ef6c00;
  font-size: 20px;
  font-weight: 700;
  line-height: 50px;
  text-align: center;
  background-color: white !important;
}

.item-d .button:hover{
  background-color: #f8e0d5 !important;
}
/* ----------alert-alert-danger------------- */
 
.alert-danger{
  
}



/* -- form-bottom--- */

.register__user-warning {
  font-family: 'Source Sans Pro';
  color: #8d8c8c;
  font-size: 12px;
  font-weight: 400;
  text-align: left;
  margin: 0 0 41px 543px;
}

.signUp {
  border-radius: 4px;
  background-color: #d7d7d7;
  width: 290px;
  height: 40px;
  color: #8d8c8c;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 138px;
  outline: none;
  margin: 0 0 140px 368px;
}

.item-d option {
  font-family: 'Source Sans Pro';
  color: #000000;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  outline: none;
}

@media (max-width: 780px) {
  .background__header {
    width: 768px;
  }

  .register {
    width: 768px;
  }

  .register__h3 {
    width: 360px;
    height: 40px;
  }

  form {
    width: 768px;
  }

  .register__user {
    width: 750px;
    justify-content: space-between;
    margin: 0 10px;
  }

  fieldset:first-child,
  fieldset:nth-child(2),
  fieldset {
    width: 220px;
    margin: 0 10px 42px;
  }

  fieldset input {
    width: 203px;
  }

  .item-d {
    width: 344px;
  }

  input[ type="submit"] {
    margin: 0 230px 140px;
  }
  .register__user.position-photo{
    justify-content: space-evenly;
  }
  .register__user-warning {
    margin: 0 0 41px 420px;
  }










}
