<div class="register"><a name="signUp"></a>

  <div class="background__header"></div>

  <div class="register__h1">Register to get a work</div>
  <div class="register__h3">Attention! After successful registration and alert,
    update the list of users in the block from the top</div>
  <form action="#" name="register-form"  novalidate   [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <!-- (ngSubmit)="submit()" -->
    <div class="register__user">
      <fieldset (blur)="validationInput()" [style.color]='validNameColor' [style.borderColor]='validNameBorderColor'>
        <legend  [style.color]='validNameColor'>Name</legend>
        <input type="text" placeholder="Your name" class="item-a form-control alert alert-danger" name="userName"
                     maxlength="100"          formControlName="userName"    >
        <div *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched"
         class="alert alert-danger" style="color:#f44336; font-size: 12px; margin-top: 5px;"> 
          Error
      </div>
      </fieldset>


      <fieldset [style.color]='validMailColor' [style.borderColor]='validMailBorderColor' (blur)="validationInput()">
        <legend [style.color]='validNameColor'>Email</legend>
        <input class="item-a form-control" name="userEmail" [placeholder]="validPlaceholderMail" 
           pattern="^([a-z0-9_-]+\.)*[a-z0-9_-]+@[a-z0-9_-]+(\.[a-z0-9_-]+)*\.[a-z]{2,6}$" 
           formControlName="userEmail"/>
        <div *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched"
         class="alert alert-danger" style="color:#f44336; font-size: 12px; margin-top: 5px;">
         Error
        </div>
      </fieldset>


      <fieldset >
        <legend [style.color]='validNameColor'>Phone</legend>
        <input class="item-a form-control" name="userPhone" 
         pattern="^[\+]{0,1}380([0-9]{9})$"
         placeholder="+380..."  formControlName="userPhone"/>
        <div *ngIf="myForm.controls['userPhone'].invalid && myForm.controls['userPhone'].touched"
         class="alert alert-danger" style="color:#f44336; font-size: 12px; margin-top: 5px;">
         Error
        </div>
      </fieldset>

    </div>

    <div class="register__user position-photo">
      <div class="register__select-caret item-d">
        <label for="selectPosition" id="select-caret">{{selectedPosition}}
          <div *ngIf="myForm.controls['userPosition'].invalid && myForm.controls['userPosition'].touched" class="alert alert-danger"
           style="color:#f44336; font-size: 12px; ">
              Error 
          </div>
        </label> 
        <select  required name="userPosition"    id="selectPosition"  formControlName="userPosition" (ngModelChange)="onPositionChange()">
          <option value="" disabled  >Select your position </option>
          <option *ngFor="let position of positions" [value]="position.name" [id]="position.id"> {{position.name}}
          </option>
        </select>
        
      </div>

      <div class="item-d upload__style">
        <label [style]='styleSelectedFile'>{{selectedFile}}
          <div *ngIf="myForm.controls['userPhoto'].invalid && myForm.controls['userPhoto'].touched" 
          class="alert alert-danger" style="color:#f44336; font-size: 12px; ">
          Error
          </div>
        </label> 
        <input type="file" name="userPhoto" id="input__file" class="item-d__input" accept="image/jpeg,image/png,image/gif"
          formControlName="userPhoto" [formControl]='photoControl' (ngModelChange)="onPhotoChange()">
        <label for="input__file" class="button" (click)='uploadImage()' id="upload">Upload</label>
<!-- (ngModelChange)="onPhotoChange($event)" -->
      </div>

    </div>
    <div class="register__user-warning">
      <p>File format jpg up to 5 MB, the minimum size of 70x70px</p>
    </div>

    <input type="submit" class="signUp"  [disabled]="myForm.invalid" name="Sign up" value="Sign up" >

    <!-- [disabled]="myForm.invalid"(click)="submit(myForm)"  -->

  </form>
</div>
